#geral{
    text-align: center;
} 

img{
    padding: 20px;
    margin: 20px;
    width: 200px;
}

nav{
    display: flex;
    justify-content: space-between;
    margin-bottom: -20px;
}

nav li{
    display: inline-block;
    margin-left: 40px;  
    margin-right: 20px;
}

nav li a{
    text-decoration: none;
    color: black;
    padding: 20px 5px;
    /* margin: 20px 5px; */
    font-size: 1.5rem;
}

nav li a:hover{
    text-decoration: none;
    color: orangered;
}

hr{
    /* width: 1000px; */
    color: black;
    height: 3px;
    border:none;
    background-color: black;
}

.imagem-media{
    width: 300px;
}

.titulo1{
    text-align: center;
    align-items: center;
    
    margin: 20px;
}

.alinhadoEsquerda{
    text-align: left;
}

.titulo-centralizado{
    text-align: center;
    padding: 20px;
}

.videoPequeno{
    /* display: inline-block; */
    padding: 10px;
    margin-top: 50px;
}

form{
    display: flex;
    flex-direction: column;
}

form input{
    margin-top: 10px;
    border-radius: 5px;
}

textarea{
    margin-top: 10px;
    border-radius: 5px;
}

button{
    float: left;
    margin-top: 20px;
}

.email1{
    color:blue; 
}